<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
    <b>Password Digest:</b>
    <%= @user.password_digest %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Skype:</b>
  <%= @user.skype_id %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
